<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/032013/submarino.png?itok=0YI_8pSg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Home', root_path , class: "nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="vitrine.html">Vitrine</a>
                <a class="dropdown-item" href="produto-detalhe.html">Produto Detalhe</a>
                <a class="dropdown-item" href="produto-busca.html">Produto Busca</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="cesta.html">Cesta</a>
                <a class="dropdown-item" href="login.html">Login</a>
                <a class="dropdown-item" href="esqueci.html">Esqueci</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        <div>
          <% if user_signed_in? %>
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded" alt="avatar">
            <%= link_to 'Sair', destroy_user_session_path,  :method => :delete%>
          <% else%>
            <%= link_to 'Entrar', new_user_session_path%>
          <% end%>
        </div>
    </nav>