/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";

 * {
    margin: 0;
    padding: 0;
}

.navbar-brand img{
    width: 50px;
}

.avatar{
    padding: 15%;
    width: 50px;
}

.container{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin-bottom: 2%;
}

.card-show{
    padding: 2%;
    display: flex;
    flex-direction: row!important;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    width: 100%;
}

.card-show img{
    width: 20%;
}

@media only screen and (max-width: 600px) {

    .container{
        justify-content: center;
    }
    .card-show{
        padding: 2%;
        display: flex;
        flex-direction: column!important;
    }
    .card-show img{
        width: 100%;
    }
    .btns{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}